{% extends 'base.html' %}

{% block css %}
	<style type="text/css">
		form{
			border: 1px solid gray;
			width: 300px;
			height: auto;
			padding: 10px;
			box-shadow: 1px 1px;
		}
	</style>
{% endblock %}

{% block content %}
	<div class="container">
	  <form method="post" enctype="multipart/form-data">
	    {% csrf_token %}
	    {{ form.as_p }}
	    <button type="submit">{% if is_update %}Update{% else %}Add{% endif %} Product</button>
	  </form>
  </div>
{% endblock %}