{% extends "base.html" %}

{% block content %}
	<div>
		Hi <strong>{{request.user.username}}</strong>
		<br>
		Welcome to Systengo Multidb
		<br>
		You have been assisgned the following databases
		<ul>
			{% for each_db in user_databases %}
			<li>{{each_db}}</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}