{% extends "base.html" %}

{% block css %}
<style type="text/css">
	.product{
		margin-left: 15px;
		padding: 10px;
		border: 1px solid darkblue;
		box-shadow: 1px 2px lightblue;
		width: 180px;
		float : left;
	}
	.edit-btn{
		margin-bottom: 5px;
	}
	.delete-btn{
		float: right;
		font-size: x-large;
		color: red;
	}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
	{% for db, products in all_products.iteritems %}
		{% for each_product in products %}
			<div class="product">
				<a href="{% url 'products:edit_product' each_product.id db %}" class="btn btn-primary edit-btn">Edit</a>
				<a href="{% url 'products:delete_product' each_product.id db %}" class="delete-btn"><span aria-hidden="true">&times;</span></a>
				<img src="/media/{{each_product.image}}" style="height: 150px; width: 150px;">
				<br>
				<span>Name : {{each_product.name}}</span>
				<br>
				<span>Price : {{each_product.price}}</span>
				<br>
				<span>DB : {{db}}</span>
				{% if request.user.is_superuser %}
				<br>
				<span>User : {{each_product.username}}</span>
				{% endif %}
			</div>
		{% endfor %}
	{% endfor %}
</div>

{% endblock %}