<!DOCTYPE html>
<html lang="en">
<head>
  <title>Multidb</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% block css %}
  {% endblock %}

  {% block js %}
  {% endblock %}
</head>
<body>

<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{% url 'm_db:index' %}">Systengo Multidb</a>
      </div>
      <ul class="nav navbar-nav">
        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
            <li class="active"><a href="{% url 'products:admin_show_all_products' %}">Show All Products</a></li>
          {% else %}
            <li class="active"><a href="{% url 'products:show_all_products' %}">Show Your Products</a></li>
          {% endif %}
          <li class="active"><a href="{% url 'products:add_product' %}">Add Product</a></li>
        {% endif %}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if not request.user.is_authenticated %}
          <li><a href="{% url 'm_db:user_login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% else %}
          <li><a href="{% url 'm_db:user_logout' %}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        {% endif %}
        </ul>
    </div>
  </nav>
  {% block content %}
  {% endblock %}
</div>

</body>
</html>