{% extends "base.html" %}

{% block css %}
<style type="text/css">
	form{
		margin: 10px;
	}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<form method="POST">{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-default">submit</button>
	</form>
</div>

{% endblock %}