{% extends "base.html" %}

{% block css %}
<style type="text/css">
	form{
		margin: 10px;
	}
	.errorlist li{
		color: red;
	}
</style>
{% endblock %}

{% block content %}
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
<div class="container-fluid">
	<form method="POST">{% csrf_token %}
	{{form.as_p}}
	<button class="btn btn-default">submit</button>
	</form>
</div>

{% endblock %}